
<script setup>
import { ref, reactive } from 'vue'

import axios from 'axios'
import Swal from 'sweetalert2'

const emit = defineEmits(['getItems'])
const emitGetItems = () => {
  emit("getItems")
}

const description = ref('')

const state = reactive({
  description: description,
})

const handleDescriptionChange = (event) => {
  // todo
  state.description = event.target.value;
}


async function handleAdd() {
  if (state.description.length > 0) {
    try {
      axios.post('http://localhost:7000/api/todoItems/', {
        description: state.description,
        isCompleted: false,
      }).then((res) => {
        state.newTodoItem = res.data
        emitGetItems();
      })
    } catch (error) {
      console.error(error)
    }
  } else {
    Swal.fire({
      title: 'Please add description!',
      icon: 'warning',
      confirmButtonText: 'OK'
    })
  }
}

function handleClear() {
  description.value = ''
}
</script>

<template>
  <div class="container">
    <div class="row mb-3">
      <label class="col col-form-label form-label col-sm-2">Description</label>
      <div class="col col-md-6">
        <input
          class="form-control"
          type="text"
          placeholder="Enter description..."
          id="description"
          :value="description"
          @input="handleDescriptionChange"
        />
      </div>
    </div>
    <div class="row mb-3 offset-md-2">
      <div class="hstack gap-2">
        <button type="button" class="btn btn-primary" @click="handleAdd" role="add-item">Add Item</button>
        <button type="button" class="btn btn-secondary" @click="handleClear" role="clear">Clear</button>
      </div>
    </div>
  </div>
</template>