<script setup>
import axios from 'axios'
import Swal from 'sweetalert2'
import TrashIcon from './icons/trash.vue'

const emit = defineEmits(['getItems'])

const { items } = defineProps(['items']);

const emitGetItems = () => {
  emit("getItems")
}
async function handleMarkAsComplete(item) {
  try {
    axios.put(`http://localhost:7000/api/todoItems/${item.id}`, {
      description: item.description,
      isCompleted: !item.isCompleted,
    }).then(() => {
      emitGetItems();
    })
  } catch (error) {
    console.error(error)
  }
}

async function handleUpdate(item) {
  const description = item.description;
  try {
    const { value: description } = await Swal.fire({
      title: 'Update Item',
      input: 'text',
      inputLabel: 'Description',
      inputValue: item.description,
      showCancelButton: true,
      inputValidator: (value) => {
        if (!value) {
          return 'You need to write something!'
        }
      }
    })
    if(description) {
      axios.put(`http://localhost:7000/api/todoItems/${item.id}`, {
        description: description,
        isCompleted: item.isCompleted,
      }).then(() => {
        emitGetItems();
      })
    }
  } catch (error) {
    console.error(error)
  }
}

async function handleRemove(item) {
  try {
    Swal.fire({
      title: `Do you want to delete '${item.description}' Item?`,
      showCancelButton: true,
      confirmButtonColor: '#DC3545',
      confirmButtonText: 'Delete',
    }).then((result) => {
      if (result.isConfirmed) {
        axios.delete(`http://localhost:7000/api/todoItems/${item.id}`)
        .then(() => {
          emitGetItems();
        })
      } 
    })
  } catch (error) {
    console.error(error)
  }
}
</script>

<template>    
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item in items" :key="item.id" :class="{'completed': item.isCompleted}">
        <td class="cursor-pointer" @click="handleUpdate(item)">{{ item.id }}</td>
        <td role="description">{{ item.description }}</td>
        <td>
          <button type="button" class="btn btn-warning btn-sm" role="mark-complete" @click="handleMarkAsComplete(item)" v-text="item.isCompleted ? 'Completed' : 'Mark as completed'"></button>
          <button type="button" class="btn btn-sm ms-4 text-danger" role="delete" @click="handleRemove(item)"><TrashIcon /></button>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<style>
.table .completed td {
  text-decoration: line-through;
}
.table .completed .btn-warning {
  background-color: gainsboro;
  border-color: gainsboro;
}

.cursor-pointer {
  cursor: pointer;
}
</style>